body {
    background-color: rgb(80, 80, 80);
}
.app {
    font-family: sans-serif;
    background-color: rgb(205, 205, 205);
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 1000px;
    margin: 100px auto;
    padding: 25px 15px;
    min-height: 400px;
    box-shadow: 0px 0px 20px 0px black;
}

.short-border {
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0 auto;
}

.input-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.transactions {
    margin-bottom: 40px;
}

button {
    border: 2px solid rgb(78, 78, 78);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 30px;
}

#add-income-btn {
    background-color: greenyellow;
}

#add-income-btn:hover {
    background-color: rgb(83, 139, 0);
    color: white;
    cursor: pointer;
}

#add-expense-btn {
    background-color: rgb(255, 91, 91);
}

#add-expense-btn:hover {
    background-color: rgb(232, 19, 19);
    color: white;
    cursor: pointer;
}